.theme-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  z-index: 100;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.theme-toggle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

body.light-theme {
  background-color: #f5f5f5;
  color: #333;
}
.favorite-btn {
  background: transparent; /* Прозрачный фон */
  border: none; /* Убираем границу */
  padding: 0; /* Убираем отступы */
  cursor: pointer; /* Курсор-указатель */
  margin-top: 10px;
}
.favorite-btn img {
  display: block; /* Убирает лишние отступы снизу */
  background: transparent; /* На всякий случай */
  width: 32px; /* Пример размера */
  height: 32px;
}
.parent-of-button {
  background: none; /* или transparent */
}
.container {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn:hover {
  background-color: #0056b3;
}

#quote {
  font-style: italic;
}
